Repository arxlang/arxcpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: iwyu, clang-tidy, clang-format, cppcheck, cmake-format, cmake-lint

.pre-commit-config.yaml:

default_stages:
  - commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: iwyu
        name: iwyu
        entry: ./scripts/iwyu.sh
        language: system
        exclude: ^$
        # files: ""
        pass_filenames: true
        stages:
          - commit
        types_or: [c++, c]

      - id: clang-tidy
        name: clang-tidy
        entry: ./scripts/run-clang-tidy.sh
        language: system
        exclude: ^$
        files: arx/src/.*\.cpp
        pass_filenames: true
        stages:
          - commit
        types_or: [c++, c]

      - id: clang-format
        name: clang-format
        entry: clang-format --Werror --style=file -i --verbose
        exclude: ^$
        files: ""
        language: system
        pass_filenames: true
        stages:
          - commit
        types_or: [c++, c]

      - id: cppcheck
        name: cppcheck
        entry: "cppcheck --std=c++17 arx/"
        language: system
        pass_filenames: false
        stages:
          - commit
        types_or: [c++, c]

      - id: cmake-format
        name: cmake-format
        entry: cmake-format
        language: system
        exclude: ^$
        files: (\.cmake|CMakeLists.txt)(.in)?$
        pass_filenames: true
        stages:
          - commit
        types: [file]
        args: ["-i"]

      - id: cmake-lint
        name: cmake-lint
        entry: cmake-lint
        language: system
        exclude: ^$
        files: (CMakeLists.txt)(.in)?$
        pass_filenames: true
        stages:
          - commit
        types: [file]

Move release workflow to its own file
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  conda/release.yaml
Due: none

Move release workflow to its own file (#36)
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  conda/release.yaml
Due: none

Refactor structure
  .github/workflows/main.yaml
  CMakeLists.txt
  Makefile
  examples/MyArrow/.gitignore
  examples/MyArrow/CMakeLists.txt
  examples/MyArrow/Makefile
  examples/MyArrow/environment.yaml
  examples/MyArrow/src/myarrow.cpp
  examples/MyArrow/test.csv
  examples/test_fibonacci.arx
  examples/test_sum.arx
Due: iwyu, clang-format, cppcheck, cmake-format, cmake-lint

Fix building
  CMakeLists.txt
  conda/recipe/build.sh
Due: cmake-format, cmake-lint

Fix binary arx path
  .github/workflows/main.yaml
Due: none

Fix ci concurrency names
  .github/workflows/conda-build.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
Due: none

Change parameters for se
  conda/recipe/build.sh
Due: none

Fix path
  conda/recipe/build.sh
Due: none

Fix conda-build step
  Makefile
  conda/build.yaml
  conda/recipe/build.sh
Due: none

chore(refactoring): Refactor structure (#37)
  .github/workflows/conda-build.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  CMakeLists.txt
  Makefile
  conda/build.yaml
  conda/recipe/build.sh
  examples/MyArrow/.gitignore
  examples/MyArrow/CMakeLists.txt
  examples/MyArrow/Makefile
  examples/MyArrow/environment.yaml
  examples/MyArrow/src/myarrow.cpp
  examples/MyArrow/test.csv
  examples/test_fibonacci.arx
  examples/test_sum.arx
Due: iwyu, clang-format, cppcheck, cmake-format, cmake-lint

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Update arrow and add arro-c-glib
  conda/dev.yaml
  conda/recipe/meta.yaml
  conda/release.yaml
Due: none

Update arrow and add arro-c-glib (#38)
  conda/dev.yaml
  conda/recipe/meta.yaml
  conda/release.yaml
Due: none

chore(build): Add meson to the build pipeline
  .github/workflows/conda-build.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  Makefile
  conda/dev.yaml
  conda/recipe/meta.yaml
  meson.build
  meson.native
Due: none

Fix conda build script
  conda/recipe/build.sh
Due: none

wip: Add tests with meson
  .github/workflows/main.yaml
  .gitignore
  Makefile
  meson.build
  meson_options.txt
  tests/main.cpp
Due: iwyu, clang-format, cppcheck

Update meson.build
  meson.build
Due: none

wip: fixing clang tidy issue
  .pre-commit-config.yaml
  Makefile
  arx/src/lexer.cpp
  meson.build
  scripts/run-clang-tidy.sh
Due: iwyu, clang-tidy, clang-format, cppcheck

Fix tidy issues
  CMakeLists.txt
  artifacts/compile_commands.json
  meson.build
  scripts/run-clang-tidy.sh
  tests/CMakeLists.txt
Due: cmake-format, cmake-lint

Fix sanity test
  Makefile
  meson.build
  meson_options.txt
  tests/meson.build
  tests/test_parser.cpp
Due: iwyu, clang-format, cppcheck

Fix tests
  Makefile
  meson.build
  tests/meson.build
Due: none

Run clang-tidy with compiled file from artifacts folder
  .pre-commit-config.yaml
  conda/recipe/build.sh
Due: none

Fix build path
  conda/recipe/build.sh
Due: none

Transform compile_commands as tmpl file
  artifacts/compile_commands.json
  artifacts/compile_commands.json.tmpl
  scripts/run-clang-tidy.sh
Due: none

Remove lcov from CI (temporarily)
  .github/workflows/main.yaml
Due: none

chore(build): Add meson to the build pipeline (#40)
  .github/workflows/conda-build.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .gitignore
  .pre-commit-config.yaml
  CMakeLists.txt
  Makefile
  artifacts/compile_commands.json.tmpl
  arx/src/lexer.cpp
  conda/dev.yaml
  conda/recipe/build.sh
  conda/recipe/meta.yaml
  meson.build
  meson.native
  meson_options.txt
  scripts/run-clang-tidy.sh
  tests/CMakeLists.txt
  tests/main.cpp
  tests/meson.build
  tests/test_parser.cpp
Due: iwyu, clang-tidy, clang-format, cppcheck, cmake-format, cmake-lint

Fix code coverage
  .github/workflows/main.yaml
  Makefile
  tests/meson.build
Due: none

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

Fix code coverage
  .github/workflows/main.yaml
Due: none

Fix: Fix stream io for tests
  .cmakelintrc
  .pre-commit-config.yaml
  CMakeLists.txt
  artifacts/compile_commands.json.tmpl
  arx/include/lexer.h
  arx/src/input.cpp
  arx/src/lexer.cpp
  cmake/c++-standards.cmake
  cmake/code-coverage.cmake
  cmake/formatting.cmake
  cmake/linter.cmake
  cmake/sanitizers.cmake
  tests/CMakeLists.txt
  tests/meson.build
  tests/test_input.cpp
  tests/test_lexer.cpp
  tests/test_parser.cpp
Due: iwyu, clang-tidy, clang-format, cppcheck, cmake-format, cmake-lint

build: Fix remain issues from meson implementation (#46)
  .cmakelintrc
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  CMakeLists.txt
  Makefile
  artifacts/compile_commands.json.tmpl
  arx/include/lexer.h
  arx/src/input.cpp
  arx/src/lexer.cpp
  cmake/c++-standards.cmake
  cmake/code-coverage.cmake
  cmake/formatting.cmake
  cmake/linter.cmake
  cmake/sanitizers.cmake
  tests/CMakeLists.txt
  tests/meson.build
  tests/test_input.cpp
  tests/test_lexer.cpp
  tests/test_parser.cpp
Due: iwyu, clang-tidy, clang-format, cppcheck, cmake-format, cmake-lint

refactor: Remove unnecessary code
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  CONTRIBUTING.md
  Makefile
  conda/dev.yaml
  conda/release.yaml
  docker/Dockerfile
  docker/docker-compose.yaml
  meson.build
Due: none

Fix build command call
  .github/workflows/main.yaml
  .releaserc.json
  arx/include/settings.h
  arx/src/codegen.cpp
  arx/src/main.cpp
  arx/src/utils.cpp
  scripts/run-clang-tidy.sh
  tests/main.cpp
Due: iwyu, clang-tidy, clang-format, cppcheck

Remove constfrom ARX_VERSION
  .releaserc.json
  arx/include/settings.h
  arx/src/codegen.cpp
  arx/src/main.cpp
  arx/src/utils.cpp
  tests/main.cpp
Due: iwyu, clang-tidy, clang-format, cppcheck

refactor: Remove unnecessary code about cmake (#49)
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  CONTRIBUTING.md
  Makefile
  conda/dev.yaml
  conda/release.yaml
  docker/Dockerfile
  docker/docker-compose.yaml
  meson.build
  scripts/run-clang-tidy.sh
Due: none

Move to c++20
  .pre-commit-config.yaml
  artifacts/compile_commands.json.tmpl
  meson.build
  scripts/iwyu.sh
  tests/meson.build
Due: none

Move to c++20 (#50)
  .pre-commit-config.yaml
  artifacts/compile_commands.json.tmpl
  meson.build
  scripts/iwyu.sh
  tests/meson.build
Due: none

Fix IO
  artifacts/compile_commands.json.tmpl
  arx/include/codegen.h
  arx/include/io.h
  arx/include/settings.h
  arx/src/codegen.cpp
  arx/src/io.cpp
  arx/src/lexer.cpp
  arx/src/main.cpp
  meson.build
  tests/main.cpp
  tests/meson.build
  tests/test_codegen.cpp
  tests/test_io.cpp
  tests/test_lexer.cpp
  tests/test_parser.cpp
Due: iwyu, clang-tidy, clang-format, cppcheck

fix(codegen): Fix code generation and io functions
  Makefile
  arx/include/codegen.h
  arx/include/utils.h
  arx/src/codegen.cpp
  arx/src/main.cpp
  arx/src/utils.cpp
  tests/scripts/test-gen-objects.sh
  tests/scripts/test-show-llvm.sh
  tests/scripts/utils.sh
  tests/test_codegen.cpp
Due: iwyu, clang-tidy, clang-format, cppcheck

Fix memory leak
  arx/src/codegen.cpp
  arx/src/main.cpp
  tests/scripts/test-gen-objects.sh
  tests/scripts/test-show-llvm.sh
Due: iwyu, clang-tidy, clang-format, cppcheck
