Repository arxlang/arxcpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cppcheck, cmake-format, cmake-lint

clang-format:
  name: clang-format
  entry: clang-format --Werror --style=file -i --verbose
  language: system
  pass_filenames: true
  stages:
  - commit

cppcheck:
  name: cppcheck
  entry: cppcheck --std=c++17 arx/
  language: system
  pass_filenames: false
  stages:
  - commit

cmake-format:
  entry: cmake-format
  name: cmake-format
  language: system
  pass_filenames: true
  stages:
  - commit
  args:
  - -i

cmake-lint:
  entry: cmake-lint
  name: cmake-lint
  language: system
  pass_filenames: true
  stages:
  - commit

chore(docs): Fix the documentation generation (#28)
  .github/workflows/main.yaml
Due: none

Create CNAME
  CNAME
Due: none

doc(cname): Add CNAME
  .github/workflows/main.yaml
Due: none

doc(cname): Add CNAME (#30)
  .github/workflows/main.yaml
Due: none

deploy: 8f72029b854d6d125454b76198c59134b38646ab
  CNAME
Due: none

feat(flags): Add --show-ir flag
  .gitignore
  CMakeLists.txt
  Makefile
  arx/include/codegen.h
  arx/include/settings.h
  arx/include/utils.h
  arx/src/codegen.cpp
  arx/src/main.cpp
  arx/src/utils.cpp
  conda/dev.yaml
  conda/recipe/meta.yaml
Due: clang-format, cppcheck, cmake-format, cmake-lint

Fix app name in the help menu
  arx/src/main.cpp
Due: clang-format, cppcheck

fix lint issues
  CMakeLists.txt
  arx/src/codegen.cpp
  arx/src/main.cpp
Due: clang-format, cppcheck, cmake-format, cmake-lint

remove flag -fno-exceptions
  conda/recipe/build.sh
Due: none

feat(flags): Add --show-ir flag (#31)
  .gitignore
  CMakeLists.txt
  Makefile
  arx/include/codegen.h
  arx/include/settings.h
  arx/include/utils.h
  arx/src/codegen.cpp
  arx/src/main.cpp
  arx/src/utils.cpp
  conda/dev.yaml
  conda/recipe/build.sh
  conda/recipe/meta.yaml
Due: clang-format, cppcheck, cmake-format, cmake-lint

chore(release): 1.3.0
  CHANGELOG.md
  Doxyfile
  arx/src/main.cpp
  conda/recipe/meta.yaml
Due: clang-format, cppcheck

Notes added by 'git notes add'
  5b098dece90f9c8be6c3cdf16ee1f088b9d6fcd7
Due: none

Improve iwyu usage
  .pre-commit-config.yaml
  CMakeLists.txt
  conda/dev.yaml
  scripts/iwyu.sh
Due: cmake-format, cmake-lint

wip
  CMakeLists.txt
  scripts/iwyu.sh
Due: cmake-format, cmake-lint

wip
  .pre-commit-config.yaml
  arx/include/lexer.h
  arx/include/parser.h
  arx/include/utils.h
  arx/src/error.cpp
  arx/src/lexer.cpp
  arx/src/parser.cpp
  arx/src/settings.cpp
  arx/src/utils.cpp
  scripts/iwyu.sh
Due: clang-format, cppcheck

Fix pre-commit hook
  .pre-commit-config.yaml
  scripts/iwyu.sh
Due: none

wip
  CMakeLists.txt
  Makefile
Due: cmake-format, cmake-lint

Apply changes from pre-commit
  arx/src/error.cpp
  arx/src/lexer.cpp
  arx/src/parser.cpp
  arx/src/utils.cpp
  conda/dev.yaml
Due: clang-format, cppcheck

Fix include usage
  CMakeLists.txt
  arx/src/parser.cpp
  scripts/get_version.sh
  scripts/iwyu.sh
Due: clang-format, cppcheck, cmake-format, cmake-lint

Remove unused cmake variable
  CMakeLists.txt
Due: cmake-format, cmake-lint

Fix parser.h includes
  arx/include/parser.h
Due: clang-format, cppcheck

chore(pre-commit): Add iwyu in the pre-commit hook (#33)
  .pre-commit-config.yaml
  CMakeLists.txt
  Makefile
  arx/include/lexer.h
  arx/include/parser.h
  arx/include/utils.h
  arx/src/error.cpp
  arx/src/lexer.cpp
  arx/src/parser.cpp
  arx/src/settings.cpp
  arx/src/utils.cpp
  conda/dev.yaml
  scripts/get_version.sh
  scripts/iwyu.sh
Due: clang-format, cppcheck, cmake-format, cmake-lint

deploy: 6d88e0f5366bd4596915820412c17067ae9b4677
  index.html
  md_CHANGELOG.html
  md_README.html
  navtreedata.js
  navtreeindex0.js
  pages.html
Due: none

chore(llvm): Update to llvm 14
  conda/dev.yaml
  conda/recipe/meta.yaml
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

deploy: 3e83fd7d05bda98ef1ab8baea962a0fbe487b82e
  doxygen.css
  index.html
  md_CHANGELOG.html
  md_CODE_OF_CONDUCT.html
  md_README.html
  navtreedata.js
  navtreeindex0.js
  pages.html
  search/all_0.html
  search/all_1.html
  search/all_1.js
  search/all_2.html
  search/all_2.js
  search/pages_0.html
  search/pages_1.js
  search/pages_2.html
  search/pages_2.js
  search/searchdata.js
Due: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Fix includes
  arx/include/error.h
Due: clang-format, cppcheck

feat(code-gen): Add code generation default option
  CMakeLists.txt
  Makefile
  arx/include/codegen.h
  arx/src/codegen.cpp
  arx/src/main.cpp
  conda/dev.yaml
  tests/__main__.cpp
  tests/test_codegen.cpp
Due: clang-format, cppcheck, cmake-format, cmake-lint

Add input file
  arx/src/input.cpp
Due: clang-format, cppcheck

remove unnecessary code
  conda/recipe/build.sh
Due: none

Add input file
  arx/include/input.h
  arx/src/input.cpp
  arx/src/utils.cpp
Due: clang-format, cppcheck

Fix get_char
  CMakeLists.txt
  Makefile
  arx/include/input.h
  arx/include/lexer.h
  arx/src/lexer.cpp
  arx/src/main.cpp
  tests/__main__.cpp
  tests/test_codegen.cpp
  tests/test_lexer.cpp
  tests/test_parser.cpp
Due: clang-format, cppcheck, cmake-format, cmake-lint

Fix small issues
  CONTRIBUTING.md
  Makefile
  examples/MyArrow/src/myarrow.cpp
Due: clang-format, cppcheck

feat(code-gen): Add code generation default option (#32)
  CMakeLists.txt
  CONTRIBUTING.md
  Makefile
  arx/include/codegen.h
  arx/include/error.h
  arx/include/input.h
  arx/include/lexer.h
  arx/src/codegen.cpp
  arx/src/input.cpp
  arx/src/lexer.cpp
  arx/src/main.cpp
  arx/src/utils.cpp
  conda/dev.yaml
  conda/recipe/build.sh
  examples/MyArrow/src/myarrow.cpp
  tests/__main__.cpp
  tests/test_codegen.cpp
  tests/test_lexer.cpp
  tests/test_parser.cpp
Due: clang-format, cppcheck, cmake-format, cmake-lint

deploy: 09063c2d39c158866fbfc05c7784cf8159862dac
  md_CONTRIBUTING.html
  md_README.html
  navtreedata.js
  navtreeindex0.js
  pages.html
  search/all_1.js
  search/pages_1.js
Due: none

chore(release): 1.4.0
  CHANGELOG.md
  Doxyfile
  arx/src/main.cpp
  conda/recipe/meta.yaml
Due: clang-format, cppcheck

Notes added by 'git notes add'
  8b90be5c5ff5098743c3f40eac47bed99c8fa9b0
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cmake-format: any of: (\.cmake|CMakeLists.txt)(.in)?$, but not: ^$
  cmake-lint: any of: (CMakeLists.txt)(.in)?$, but not: ^$
